<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Query result</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <main>
        <h2>Product data</h2>

        <div class="product-box">

        <p>Product ID: <span> <%= result.productId %> </span></p>
        <p>Name: <span> <%= result.name %> </span></p>
        <p>Model: <span> <%= result.model %> </span></p>
        <p>Type: <span> <%= result.type %> </span></p>
        <p>Amount: <span> <%= result.amount %> </span></p>

        
        </div>

        <a href="/"><button>HOME</button></a>

    </main>
</body>
</html>